flows/Assign_FET_Rate_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_FET_Rate</name>
        <label>Assign FET Rate</label>
        <locationX>347</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>$Record.FET_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FET_Rate.FET_Rate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Assign FET Rate Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign FET Rate Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FET_Rate</name>
        <label>Get FET Rate</label>
        <locationX>188</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_FET_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FET_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FET_TYPE__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FET_Rate_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_FET_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FET_TYPE__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
