flows/Check_Attachments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Document_Names</name>
        <label>Add Document Names</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>DocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Attachment.ContentDocument.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EIN</name>
        <label>Assign EIN</label>
        <locationX>888</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SetEIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EIN Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_of_which_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EIN_0</name>
        <label>Assign EIN</label>
        <locationX>942</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>SetEIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EIN Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_of_which_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reseller</name>
        <label>Assign Reseller</label>
        <locationX>1042</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>SetReseller</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Reseller Certificate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_of_which_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reseller_0</name>
        <label>Assign Reseller</label>
        <locationX>1042</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>SetReseller</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Reseller Certificate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_of_which_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_W9</name>
        <label>Assign W9</label>
        <locationX>967</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>SetW9</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>W9 Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_of_which_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_W9_0</name>
        <label>Assign W9</label>
        <locationX>995</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>SetW9</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>W9 Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_of_which_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>For Account DOC</description>
        <name>Check_of_which_Name</name>
        <label>Check of which Name</label>
        <locationX>570</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_EIN_Number</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records.EIN_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EIN Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EIN</targetReference>
            </connector>
            <label>Check EIN Number</label>
        </rules>
        <rules>
            <name>Check_W9_Form</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records.W9_Form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>W9 Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_W9</targetReference>
            </connector>
            <label>Check W9 Form</label>
        </rules>
        <rules>
            <name>Check_Reseller_Certificate</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records.Reseller_Certificate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reseller Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reseller</targetReference>
            </connector>
            <label>Check Reseller Certificate</label>
        </rules>
        <rules>
            <name>Check_EIN_to_False</name>
            <conditionLogic>1 AND NOT(2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records.EIN_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>EIN Number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentNames</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EIN_0</targetReference>
            </connector>
            <label>Check EIN to False</label>
        </rules>
        <rules>
            <name>Check_W9_to_False</name>
            <conditionLogic>1 AND NOT(2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records.W9_Form__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>W9 Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentNames</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_W9_0</targetReference>
            </connector>
            <label>Check W9 to False</label>
        </rules>
        <rules>
            <name>Check_Reseller_to_False</name>
            <conditionLogic>1 AND NOT(2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Records.Reseller_Certificate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reseller Certificate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocumentNames</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reseller_0</targetReference>
            </connector>
            <label>Check Reseller to False</label>
        </rules>
    </decisions>
    <description>For  Account</description>
    <formulas>
        <description>EIN Number</description>
        <name>EINNumber</name>
        <dataType>String</dataType>
        <expression>&apos;EIN Number&apos;</expression>
    </formulas>
    <interviewLabel>Check Attachments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Attachments</label>
    <loops>
        <description>From Acccount</description>
        <name>Loop_Attachment</name>
        <label>Loop Attachment</label>
        <locationX>320</locationX>
        <locationY>422</locationY>
        <collectionReference>Get_Attachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Document_Names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_of_which_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>CheckBoxes</description>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>394</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EIN_Number__c</queriedFields>
        <queriedFields>W9_Form__c</queriedFields>
        <queriedFields>Reseller_Certificate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>From Content</description>
        <name>Get_Attachments</name>
        <label>Get Attachments</label>
        <locationX>190</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1186</locationX>
        <locationY>414</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EIN_Number__c</field>
            <value>
                <elementReference>SetEIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller_Certificate__c</field>
            <value>
                <elementReference>SetReseller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>W9_Form__c</field>
            <value>
                <elementReference>SetW9</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>240</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Attachments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>For Account</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ACCOUNTRECORDS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>For Acc</description>
        <name>DocumentNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EINNUMBERA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>InputAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputEIN</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputReseller</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputW9</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputName</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SetEIN</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SetReseller</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SetW9</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
