flows/Create_Quote_Throgh_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>a</name>
        <choiceText>a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a</stringValue>
        </value>
    </choices>
    <choices>
        <name>With_FET</name>
        <choiceText>With FET</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>With FET</stringValue>
        </value>
    </choices>
    <choices>
        <name>Without_FET</name>
        <choiceText>Without FET</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Without FET</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_condition</name>
        <label>Check condition</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>create_quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Door_delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_records.Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Door Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_door_delivery_quotenew</targetReference>
            </connector>
            <label>Door delivery</label>
        </rules>
        <rules>
            <name>B2B_Container1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_records.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B_Container</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_quote_0</targetReference>
            </connector>
            <label>B2B Container</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Available</name>
        <label>Is Product Available</label>
        <locationX>1040</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Record_Type</targetReference>
            </connector>
            <label>Product Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Walkin</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_records.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129B0000004HykQAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opp_records.Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store Pick up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opp_records.Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Door Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_condition</targetReference>
            </connector>
            <label>Walkin</label>
        </rules>
        <rules>
            <name>B2B_Container</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_records.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0129B0000004IMbQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote_B2BContainer</targetReference>
            </connector>
            <label>B2B Container</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+15</expression>
    </formulas>
    <formulas>
        <name>OPP_CreatedDate</name>
        <dataType>String</dataType>
        <expression>{!get_opp_records.Name}+&quot; &quot; + TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>SetFinalQty</name>
        <dataType>Number</dataType>
        <expression>{!Loop_over_opp_Product_Line_Item.Quantity}*{!SetQTYValue}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SetSalesPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_over_opp_Product_Line_Item.UnitPrice}/{!SetQTYValue}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Quote Throgh Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Through Button</label>
    <loops>
        <name>Loop_over_opp_Product_Line_Item</name>
        <label>Loop over opp Product Line Item</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <collectionReference>Get_Opp_line_Item_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Display_Quote_Created_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_door_delivery_quotenew</name>
        <label>create door delivery quotenew</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>NewQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opp_line_Item_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_to_Adddress__c</field>
            <value>
                <elementReference>get_opp_records.Bill_to_Adddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Name__c</field>
            <value>
                <elementReference>get_opp_records.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>get_opp_records.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Type__c</field>
            <value>
                <elementReference>get_opp_records.Delivery_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OPP_CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiver_Contact_Number__c</field>
            <value>
                <elementReference>get_opp_records.Primary_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129B0000004I3XQAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_From_Address__c</field>
            <value>
                <elementReference>get_opp_records.Ship_From_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Address__c</field>
            <value>
                <elementReference>get_opp_records.Ship_to_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Name__c</field>
            <value>
                <elementReference>get_opp_records.Ship_to_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse_Location__c</field>
            <value>
                <elementReference>get_opp_records.Warehouse_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>create_quote</name>
        <label>create quote</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>NewQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opp_line_Item_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_to_Adddress__c</field>
            <value>
                <elementReference>get_opp_records.Bill_to_Adddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Name__c</field>
            <value>
                <elementReference>get_opp_records.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>get_opp_records.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Type__c</field>
            <value>
                <elementReference>get_opp_records.Delivery_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OPP_CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Fitment_Address_New__c</field>
            <value>
                <elementReference>get_opp_records.Warehouse_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiver_Contact_Number__c</field>
            <value>
                <elementReference>get_opp_records.Primary_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129B0000004I08QAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_From_Address__c</field>
            <value>
                <elementReference>get_opp_records.Ship_From_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Address__c</field>
            <value>
                <elementReference>get_opp_records.Ship_to_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse_Location__c</field>
            <value>
                <elementReference>get_opp_records.Warehouse_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>create_quote_0</name>
        <label>create quote</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>NewQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opp_line_Item_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_to_Adddress__c</field>
            <value>
                <elementReference>get_opp_records.Bill_to_Adddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>get_opp_records.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Type__c</field>
            <value>
                <elementReference>get_opp_records.Delivery_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OPP_CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Date__c</field>
            <value>
                <elementReference>get_opp_records.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Type__c</field>
            <value>
                <stringValue>With FET</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiver_Contact_Number__c</field>
            <value>
                <elementReference>get_opp_records.Primary_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129B0000004IMmQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_From_Address__c</field>
            <value>
                <elementReference>get_opp_records.Ship_From_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Address__c</field>
            <value>
                <elementReference>get_opp_records.Ship_to_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse_Location__c</field>
            <value>
                <elementReference>get_opp_records.Warehouse_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_line_Item_Record</name>
        <label>Get Opp line Item Record</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_opp_Product_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_records</name>
        <label>get opp records</label>
        <locationX>1040</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_product</name>
        <label>Get product</label>
        <locationX>1040</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Product_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opp_records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Quote_B2BContainer</name>
        <label>Create_Quote_B2B_Container</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Create_Quote_B2B_Container</name>
            <extensionName>c:createQuote</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_opp_records.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Quote_Created_Screen</name>
        <label>Display Quote Created Screen</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayQuote</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(8, 103, 253); font-size: 16px;&quot;&gt;Quote is created Successfully..! &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 1, 1); font-size: 14px;&quot;&gt;Product Not Added.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_opp_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FETTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IsWithoutFET</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MainProductTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewInsertedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>NewQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewQuoteLineVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemCollectionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetQTYValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StateFeeTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
