flows/Create_freight_product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_price_value</name>
        <label>Assign price value</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>oQuoteLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_freight_charge_product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChargeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oQuoteLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoreRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oQuoteLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oQuoteLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_freight_charge_product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_freight_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Freight_Price</name>
        <label>Freight Price</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ChargeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoreRecord.Freight_charges__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_freight_prouct_in_Quoteline_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lift_gate_price</name>
        <label>Lift gate price</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ChargeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoreRecord.Lift_Gate_Charges__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_freight_prouct_in_Quoteline_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Misch_charge_price</name>
        <label>Misch charge price</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ChargeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoreRecord.Other_Charges__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_freight_prouct_in_Quoteline_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_freight_quote_line_item</name>
        <label>Update freight quote line item</label>
        <locationX>578</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>oQuoteLineItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_line_item_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oQuoteLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChargeAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_freight_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_freight_prouct_in_Quoteline_item</name>
        <label>Check for freight prouct in Quoteline item</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Update_freight_quote_line_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_freight_product_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_line_item_records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_standard_price_book</targetReference>
            </connector>
            <label>If freight product is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_price_depends_on_Product_type</name>
        <label>Get price depends on Product type</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_for_freight_prouct_in_Quoteline_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Freight</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Producttype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Freight charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Freight_Price</targetReference>
            </connector>
            <label>Freight</label>
        </rules>
        <rules>
            <name>Lift_gate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Producttype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lift Gate Charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lift_gate_price</targetReference>
            </connector>
            <label>Lift gate</label>
        </rules>
        <rules>
            <name>Misc_Chrges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Producttype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc. Charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Misch_charge_price</targetReference>
            </connector>
            <label>Misc Chrges</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create freight product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create freight/misc/lift product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_freight_product</name>
        <label>Create freight product</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <inputReference>oQuoteLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_freight_charge_product</name>
        <label>Get freight charge product</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_price_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_standard_price_book.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_line_item_records</name>
        <label>Get Freight Quote line item records</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_price_depends_on_Product_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoreRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_standard_price_book</name>
        <label>Get standard price book</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_freight_charge_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoreRecord.Pricebook2.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_freight_product</name>
        <label>Update freight product</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <inputReference>oQuoteLineItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_line_item_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChargeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>oQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Producttype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoreRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
