flows/Create_Freight_Lift_gate_or_Misc_Charges_products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Freight</name>
        <label>Assign Freight</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Producttype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Freight charges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_freight_Product_in_QOL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lift_gate</name>
        <label>Assign Lift gate</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Producttype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lift Gate Charges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lift_gate_product_QOL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Misc_gate</name>
        <label>Assign Misc gate</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Producttype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Misc. Charges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Misc_chareges_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Freight</name>
        <label>Assign Freight</label>
        <locationX>490</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Producttype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Freight charges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_freight_Product_in_QOL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Lift_gate</name>
        <label>Assign Lift gate</label>
        <locationX>622</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Producttype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lift Gate Charges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Lift_gate_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Misc_gate</name>
        <label>Assign Misc gate</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Producttype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Misc. Charges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Misc_chareges_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Freight</name>
        <label>Assign Freight</label>
        <locationX>930</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Producttype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Freight charges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Create_freight_Product_in_QOL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Lift_gate</name>
        <label>Assign Lift gate</label>
        <locationX>930</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Producttype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lift Gate Charges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Create_Lift_gate_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Misc_gate</name>
        <label>Assign Misc gate</label>
        <locationX>1062</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Producttype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Misc. Charges</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Create_Misc_chareges_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_lift_gate_charge_change</name>
        <label>Check for lift gate charge change</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_for_Misc_charge_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_lift_gate_charge_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lift_Gate_Charges__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lift_Gate_Charges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lift_gate</targetReference>
            </connector>
            <label>If lift gate charge is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Misc_charge_change</name>
        <label>Check for Misc charge change</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Misc_charge_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Other_Charges__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Other_Charges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Misc_gate</targetReference>
            </connector>
            <label>If Misc charge is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_in_freight_object</name>
        <label>Check in freight object</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_freight_is_changed_or_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freight_charges__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Freight_charges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Freight</targetReference>
            </connector>
            <label>If freight is changed or added</label>
        </rules>
        <rules>
            <name>If_lift_gate_chare_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lift_Gate_Charges__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lift_Gate_Charges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Lift_gate</targetReference>
            </connector>
            <label>If lift gate chare is changed</label>
        </rules>
        <rules>
            <name>If_misc_charges_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Other_Charges__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Other_Charges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Misc_gate</targetReference>
            </connector>
            <label>If misc charges is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_freight_charge_change</name>
        <label>Check for freight charge change</label>
        <locationX>1062</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_freight_charge_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freight_charges__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Freight_charges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Freight</targetReference>
            </connector>
            <label>If freight charge is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_lift_gate_charge_change</name>
        <label>Check for freight charge change</label>
        <locationX>622</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_lift_gate_charge_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freight_charges__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Freight_charges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Freight</targetReference>
            </connector>
            <label>If freight charge is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Misc_charge_change</name>
        <label>Check for Misc charge change</label>
        <locationX>622</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_lift_gate_charge_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Misc_charge_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Other_Charges__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Other_Charges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Misc_gate</targetReference>
            </connector>
            <label>Misc charge is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_for_lift_gate_charge_change</name>
        <label>Check for lift gate charge change</label>
        <locationX>1062</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_freight_charge_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_If_lift_gate_charge_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lift_Gate_Charges__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lift_Gate_Charges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Lift_gate</targetReference>
            </connector>
            <label>Copy 2 of If lift gate charge is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Freight,Lift gate or {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Freight,Lift gate or Misc. Charges products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_in_freight_object</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Create_freight_Product_in_QOL</name>
        <label>Create freight Product in QOL</label>
        <locationX>490</locationX>
        <locationY>1391</locationY>
        <flowName>Create_freight_product</flowName>
        <inputAssignments>
            <name>QuoreRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Producttype</name>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Create_Lift_gate_product</name>
        <label>Create Lift gate product</label>
        <locationX>622</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_for_Misc_charge_change</targetReference>
        </connector>
        <flowName>Create_freight_product</flowName>
        <inputAssignments>
            <name>QuoreRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Producttype</name>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Create_Misc_chareges_product</name>
        <label>Create Misc chareges product</label>
        <locationX>490</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_for_lift_gate_charge_change</targetReference>
        </connector>
        <flowName>Create_freight_product</flowName>
        <inputAssignments>
            <name>QuoreRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Producttype</name>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_2_of_Create_freight_Product_in_QOL</name>
        <label>Create freight Product in QOL</label>
        <locationX>930</locationX>
        <locationY>1391</locationY>
        <flowName>Create_freight_product</flowName>
        <inputAssignments>
            <name>QuoreRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Producttype</name>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_2_of_Create_Lift_gate_product</name>
        <label>Create Lift gate product</label>
        <locationX>930</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Copy_1_of_Check_for_freight_charge_change</targetReference>
        </connector>
        <flowName>Create_freight_product</flowName>
        <inputAssignments>
            <name>QuoreRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Producttype</name>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_2_of_Create_Misc_chareges_product</name>
        <label>Create Misc chareges product</label>
        <locationX>1062</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Copy_2_of_Check_for_lift_gate_charge_change</targetReference>
        </connector>
        <flowName>Create_freight_product</flowName>
        <inputAssignments>
            <name>QuoreRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Producttype</name>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_freight_Product_in_QOL</name>
        <label>Create freight Product in QOL</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Check_for_lift_gate_charge_change</targetReference>
        </connector>
        <flowName>Create_freight_product</flowName>
        <inputAssignments>
            <name>QuoreRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Producttype</name>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Lift_gate_product_QOL</name>
        <label>Create Lift gate product</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Check_for_Misc_charge_change</targetReference>
        </connector>
        <flowName>Create_freight_product</flowName>
        <inputAssignments>
            <name>QuoreRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Producttype</name>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Misc_chareges_product</name>
        <label>Create Misc chareges product</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <flowName>Create_freight_product</flowName>
        <inputAssignments>
            <name>QuoreRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Producttype</name>
            <value>
                <elementReference>Producttype</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>oQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Producttype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
