flows/create_Quote_on_opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_One_By_One</name>
        <label>Add One By One</label>
        <locationX>936</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemCollectionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewQuoteLineVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_opp_Product_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opp_Line_Item_Value_to_Quote_Line_Item</name>
        <label>Add Opp Line Item Value to Quote Line Item</label>
        <locationX>875</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>NewQuoteLineVar.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLineVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_opp_Product_Line_Item.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLineVar.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_opp_Product_Line_Item.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLineVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_opp_Product_Line_Item.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLineVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_opp_Product_Line_Item.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuoteLineVar.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_opp_Product_Line_Item.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_One_By_One</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_condition</name>
        <label>Check condition</label>
        <locationX>571</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>create_door_delivery_quotenew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pick_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opp_records.Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Door Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_quote</targetReference>
            </connector>
            <label>Pick Up</label>
        </rules>
    </decisions>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+15</expression>
    </formulas>
    <interviewLabel>create Quote on opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create Quote on opp</label>
    <loops>
        <name>Loop_over_opp_Product_Line_Item</name>
        <label>Loop over opp Product Line Item</label>
        <locationX>584</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Opp_line_Item_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Opp_Line_Item_Value_to_Quote_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_NewQuoteLine_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_door_delivery_quotenew</name>
        <label>create door delivery quotenew</label>
        <locationX>718</locationX>
        <locationY>443</locationY>
        <assignRecordIdToReference>NewQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opp_line_Item_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>get_opp_records.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129B0000004I3XQAU</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_NewQuoteLine_Items</name>
        <label>Create NewQuoteLine Items</label>
        <locationX>584</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Display_Quote_Created_Screen</targetReference>
        </connector>
        <inputReference>QuoteLineItemCollectionList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_quote</name>
        <label>create quote</label>
        <locationX>452</locationX>
        <locationY>445</locationY>
        <assignRecordIdToReference>NewQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opp_line_Item_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>get_opp_records.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129B0000004I08QAE</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_line_Item_Record</name>
        <label>Get Opp line Item Record</label>
        <locationX>584</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_opp_Product_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_records</name>
        <label>get opp records</label>
        <locationX>586</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_condition</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Delivery_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store Pick up</stringValue>
            </value>
        </filters>
        <filters>
            <field>Delivery_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Door Delivery</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Quote_Created_Screen</name>
        <label>Display Quote Created Screen</label>
        <locationX>584</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayQuote</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(8, 103, 253);&quot;&gt;Quote is created Successfully..! Please Refresh.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_opp_records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewQuoteLineVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemCollectionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
