flows/Create_Opportunity_Folder_With_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Account_Folder</name>
        <label>Create Account Folder</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <actionName>box__CreateFolderForRecordIdFromTemplate_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Account_Folder_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optCreateRootFolder</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateFolderId</name>
            <value>
                <elementReference>Fetch_Account_Template_Folder_Id.box__FolderId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolderForRecordIdFromTemplate_v2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Folder_For_Record_ID_From_Template</name>
        <label>Create Folder For Record ID From Template</label>
        <locationX>440</locationX>
        <locationY>1008</locationY>
        <actionName>box__CreateFolderForRecordIdFromTemplate_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Opportunities_Static_Folder_Under_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optCreateRootFolder</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateFolderId</name>
            <value>
                <elementReference>Fetch_Opportunity_Template_Folder_Id.box__FolderId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolderForRecordIdFromTemplate_v2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Move_Folder</name>
        <label>Move Folder</label>
        <locationX>440</locationX>
        <locationY>1224</locationY>
        <actionName>box__MoveFolder_v2</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderId</name>
            <value>
                <elementReference>Create_Folder_For_Record_ID_From_Template.folderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newParentFolderId</name>
            <value>
                <elementReference>Opportunities_Static_Folder_Under_Account.folderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__MoveFolder_v2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunities_Static_Folder_Under_Account</name>
        <label>Opportunities Static Folder Under Account</label>
        <locationX>440</locationX>
        <locationY>1116</locationY>
        <actionName>box__CreateFolder_v2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Move_Folder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>folderName</name>
            <value>
                <stringValue>Opportunities</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentFolderId</name>
            <value>
                <elementReference>AccountFolderId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>box__CreateFolder_v2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Account_Folder_Id</name>
        <label>Account Folder Id</label>
        <locationX>176</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>AccountFolderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Related_Account_Id.box__Folder_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Opportunity_Template_Folder_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Account_Folder_Id</name>
        <label>New Account Folder Id</label>
        <locationX>440</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>AccountFolderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account_Folder.folderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Opportunity_Template_Folder_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Exists_or_Not</name>
        <label>Account Exists or Not</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Fetch_Opportunity_Template_Folder_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Related_Account_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Folder_Id</targetReference>
            </connector>
            <label>Account Exist</label>
        </rules>
        <rules>
            <name>Account_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Related_Account_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Account_Template_Folder_Id</targetReference>
            </connector>
            <label>Account Not Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Opportunity Folder With Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity Folder With Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Account_Template_Folder_Id</name>
        <label>Fetch Account Template Folder Id</label>
        <locationX>440</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Folder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Template Folder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>box__Folder_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Opportunity_Template_Folder_Id</name>
        <label>Fetch Opportunity Template Folder Id</label>
        <locationX>440</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Folder_For_Record_ID_From_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunities With Template</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>box__Folder_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Related_Account_Id</name>
        <label>Fetch Related Account Id</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>box__Record_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>box__FRUP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>box__Opportunity_Folder_Under_Account</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Fetch_Related_Account_Id</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountFolderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asdasdasdsda</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputAccountFolderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
