flows/Create_PO_By_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_To_List</name>
        <label>Add To List</label>
        <locationX>270</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrderCollectionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PurchaseOrderVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Line_Item_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_Line_Value_from_Quote_Line</name>
        <label>Assign PO Line Value from Quote Line</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrderVar.AcctSeedERP__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Line_Item_record.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderVar.AcctSeedERP__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Line_Item_record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderVar.AcctSeedERP__Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderVar.Purchase_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Line_Item_record.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrderVar.Total_Purchase_Price_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_FET</name>
        <label>Check FET</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_PO_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>With_FET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Records.Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With FET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PO</targetReference>
            </connector>
            <label>With FET</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FindQtyForPO</name>
        <dataType>Number</dataType>
        <expression>{!Get_Line_Item_record.Quantity}*{!SetPrice}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create PO By Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create PO By Button</label>
    <loops>
        <name>Get_Line_Item_record</name>
        <label>Get Line Item record</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <collectionReference>Get_Line_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PO_Line_Value_from_Quote_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Purchase_Order_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PO</name>
        <label>Create PO</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>POID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Line_Item_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Get_Quote_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Ledger__c</field>
            <value>
                <elementReference>ledger.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_City__c</field>
            <value>
                <elementReference>Get_Quote_Records.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Type__c</field>
            <value>
                <elementReference>PO.AcctSeedERP__Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Vendor__c</field>
            <value>
                <elementReference>Get_Quote_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__c</field>
            <value>
                <elementReference>Get_Quote_Records.Opportunity.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Transportation__c</field>
            <value>
                <elementReference>Local_Transportation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>Get_Quote_Records.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Charges_1__c</field>
            <value>
                <elementReference>Other_Charges_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Charges_2__c</field>
            <value>
                <elementReference>Other_Charges_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Get_Quote_Records.Payment_terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Port_Loading__c</field>
            <value>
                <elementReference>Get_Quote_Records.Port_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Name__c</field>
            <value>
                <elementReference>Get_Quote_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129B0000004IN6QAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__c</field>
            <value>
                <elementReference>Get_Quote_Records.Opportunity.Ship_to_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Custom_Duty__c</field>
            <value>
                <elementReference>PO.Total_Custom_Duty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Ocean_Freight__c</field>
            <value>
                <elementReference>Total_Ocean_Freight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_PO_Value__c</field>
            <value>
                <elementReference>Get_Quote_Records.Total_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Port_Charges_without_custom_duty__c</field>
            <value>
                <elementReference>PO.Total_Port_Charges_without_custom_duty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>Get_Quote_Records.Total_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Purchase_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PO_0</name>
        <label>Create PO</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>POID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Line_Item_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Get_Quote_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Ledger__c</field>
            <value>
                <elementReference>ledger.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_City__c</field>
            <value>
                <elementReference>Get_Quote_Records.Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Type__c</field>
            <value>
                <elementReference>PO.AcctSeedERP__Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Vendor__c</field>
            <value>
                <elementReference>Get_Quote_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__c</field>
            <value>
                <elementReference>Get_Quote_Records.Opportunity.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Transportation__c</field>
            <value>
                <elementReference>Local_Transportation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>Get_Quote_Records.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Charges_1__c</field>
            <value>
                <elementReference>Other_Charges_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Charges_2__c</field>
            <value>
                <elementReference>Other_Charges_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Get_Quote_Records.Payment_terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Port_Loading__c</field>
            <value>
                <elementReference>Get_Quote_Records.Port_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Name__c</field>
            <value>
                <elementReference>Get_Quote_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0129B0000004IN1QAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__c</field>
            <value>
                <elementReference>Get_Quote_Records.Opportunity.Ship_to_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Custom_Duty__c</field>
            <value>
                <elementReference>PO.Total_Custom_Duty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Ocean_Freight__c</field>
            <value>
                <elementReference>Total_Ocean_Freight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_PO_Value__c</field>
            <value>
                <elementReference>Get_Quote_Records.Total_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Port_Charges_without_custom_duty__c</field>
            <value>
                <elementReference>PO.Total_Port_Charges_without_custom_duty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity__c</field>
            <value>
                <elementReference>Get_Quote_Records.Total_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Purchase_Order__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Purchase_Order_Line_Item</name>
        <label>Create Purchase Order Line Item</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>PO_Screen</targetReference>
        </connector>
        <inputReference>PurchaseOrderCollectionList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Line_Item_Records</name>
        <label>Get Line Item Records</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Line_Item_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Records</name>
        <label>Get Quote Records</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ocean_Freight</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Ocean_Freight</name>
        <label>Ocean Freight</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_FET</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>PO.AcctSeedERP__Type__c</objectFieldReference>
        </fields>
        <fields>
            <name>ledger</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AcctSeedERP__Ledger__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ledger</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>AcctSeedERP__Purchase_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Total_Ocean_Freight</name>
            <dataType>Number</dataType>
            <fieldText>Total Ocean Freight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>PO.Total_Custom_Duty__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>PO.Total_Port_Charges_without_custom_duty__c</objectFieldReference>
        </fields>
        <fields>
            <name>Local_Transportation</name>
            <dataType>Number</dataType>
            <fieldText>Local Transportation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Other_Charges_1</name>
            <dataType>Number</dataType>
            <fieldText>Other Charges 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Other_Charges_2</name>
            <dataType>Number</dataType>
            <fieldText>Other Charges 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Screen</name>
        <label>PO Screen</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Purchase Order Created Successfully..!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>GetLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>PO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>POID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PurchaseOrderCollectionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>PurchaseOrderVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Purchase_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
