flows/Create_Inventory_Cost_History_on_Create_or_Update_of_Inventory_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Inventory_Cost_History_Assignement</name>
        <label>Inventory Cost History Assignement</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>tempInventoryCostHistoryCustom.Inventory_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempInventoryCostHistoryCustom.Cost_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempInventoryCostHistoryCustom.New_Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AcctSeed__Unit_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempInventoryCostHistoryCustom.Previous_Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inventory_Cost_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inventory_Cost_History_Assignment</name>
        <label>Inventory Cost History Assignment</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>tempInventoryCostHistoryCustom.Inventory_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempInventoryCostHistoryCustom.Cost_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Latest_Cost_Update_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempInventoryCostHistoryCustom.New_Unit_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AcctSeed__Unit_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inventory_Cost_History</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Unit_Cost_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Cost_History_Assignement</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Unit_Cost_Changed</name>
        <label>Is Unit Cost Changed?</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Latest_Cost_Update_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Latest_Cost_Update_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Cost_History_Assignment</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Inventory Cost History on Create or Update of Inventory Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Inventory Cost History on Create or Update of Inventory Cost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inventory_Cost_History</name>
        <label>Create Inventory Cost History</label>
        <locationX>248</locationX>
        <locationY>815</locationY>
        <inputReference>tempInventoryCostHistoryCustom</inputReference>
    </recordCreates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
        <object>AcctSeed__Inventory_Cost__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tempInventoryCostHistoryCustom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Cost_History_Custom__c</objectType>
    </variables>
</Flow>
