flows/Create_FET_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Base_value</name>
        <label>Assign Base value</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FET_Opportunity_Product_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_of_set_4</name>
        <label>Assign of set 4</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FET_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_set_of_2_values</name>
        <label>Assign set of 2 values</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FET_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_8</name>
        <label>Assignment of 8</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FET_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_set_Product</name>
        <label>Check set Product</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>set_of_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_set_of_2_values</targetReference>
            </connector>
            <label>set of 2</label>
        </rules>
        <rules>
            <name>Set_Of_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_of_set_4</targetReference>
            </connector>
            <label>Set Of 4</label>
        </rules>
        <rules>
            <name>Set_of_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_8</targetReference>
            </connector>
            <label>Set of 8</label>
        </rules>
        <rules>
            <name>Base_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_record.Product2.AcctSeed__Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_record.Product2.AcctSeed__Inventory_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Base_value</targetReference>
            </connector>
            <label>Base product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Opportunity_product_is_Available</name>
        <label>Check Whether Opportunity product  is Available</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_set_Product</targetReference>
            </connector>
            <label>Opportunity Product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateQty</name>
        <dataType>Number</dataType>
        <expression>{!SetValue}*{!$Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create FET on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create FET on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FET_Opportunity_Product</name>
        <label>Create FET Opportunity Product</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Update_Opportunity_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>Get_current_record.Product2.Product_Master__r.StockKeepingUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Product2.FET_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>CalculateQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Get_current_record.Product2.FET_Product__r.Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FET_Opportunity_Product_0</name>
        <label>Create FET Opportunity Product</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Opportunity_Field_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>Get_current_record.Product2.StockKeepingUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Product2.FET_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>CalculateQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.Product2.FET_Product__r.Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_current_record</name>
        <label>Get current record</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_pricebook_entry_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_pricebook_entry_id</name>
        <label>get pricebook entry id</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Opportunity_product_is_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_record.Product2.FET_Product__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Field</name>
        <label>Update Opportunity Field</label>
        <locationX>578</locationX>
        <locationY>1631</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Line_Item__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Field_0</name>
        <label>Update Opportunity Field</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Line_Item__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_record</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
