flows/Create_SO_Using_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Line_Item_to_List</name>
        <label>Add Line Item to List</label>
        <locationX>567</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>ListOfConsumableSAlesOrderLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Consumable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consumable_to_Sales_Order_Line</name>
        <label>Assign Consumable to Sales Order Line</label>
        <locationX>747</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Consumable.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Consumable.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Consumable.JOB__r.Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Consumable.Service_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Count</name>
        <label>Get Count</label>
        <locationX>997</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>CountMounting</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Open_All_Mounting_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountBalancing</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Open_balancing_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountConsumable</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Open_All_consumable_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WheelMountingVar.AcctSeedERP__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Wheel_Mounting_product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WheelBalancingVar.AcctSeedERP__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Wheel_Balancing_product_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WheelBalancingVar.AcctSeedERP__Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountBalancing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WheelMountingVar.AcctSeedERP__Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountMounting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WheelBalancingVar.AcctSeedERP__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Wheel_Balancing_product_0.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WheelMountingVar.AcctSeedERP__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Wheel_Mounting_product.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WheelBalancingVar.AcctSeedERP__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WheelMountingVar.AcctSeedERP__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job.Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Consumable</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>WheelBalancingPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Wheel_Balancing_product_0.Price__c}*{!CountBalancing}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WheelMountingPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Wheel_Mounting_product.Price__c} * {!CountMounting}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create SO Using Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create SO Using Button</label>
    <loops>
        <name>Loop_for_Consumable</name>
        <label>Loop for Consumable</label>
        <locationX>797</locationX>
        <locationY>241</locationY>
        <collectionReference>Open_All_consumable_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Consumable_to_Sales_Order_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_SalesOrder_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SO_Wheel_Balancing</name>
        <label>Create SO Wheel Balancing</label>
        <locationX>821</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>Create_SO_Wheel_Mounting_0</targetReference>
        </connector>
        <inputReference>WheelBalancingVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SO_Wheel_Mounting_0</name>
        <label>Create SO Wheel Mounting</label>
        <locationX>1018</locationX>
        <locationY>604</locationY>
        <connector>
            <targetReference>SO_Screen</targetReference>
        </connector>
        <inputReference>WheelMountingVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_SalesOrder_Line</name>
        <label>Insert SalesOrder Line</label>
        <locationX>912</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>Create_SO_Wheel_Balancing</targetReference>
        </connector>
        <inputReference>ListOfConsumableSAlesOrderLine</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>35</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Wheel_Mounting_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JOB__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wheel_Balancing_product_0</name>
        <label>Get Wheel Balancing product</label>
        <locationX>356</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_All_Mounting_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wheel Balancing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wheel_Mounting_product</name>
        <label>Get Wheel Mounting product</label>
        <locationX>172</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Wheel_Balancing_product_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wheel Mounting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Open_All_consumable_record</name>
        <label>Open All consumable record</label>
        <locationX>860</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consumable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Open_All_Mounting_Record</name>
        <label>Open All Mounting Record</label>
        <locationX>527</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_balancing_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mounting__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Open_balancing_record</name>
        <label>Open balancing record</label>
        <locationX>697</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_All_consumable_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Balancing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SO_Screen</name>
        <label>SO Screen</label>
        <locationX>1087</locationX>
        <locationY>420</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SO</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(29, 10, 244); font-size: 16px;&quot;&gt;Sales Order Updated Succefully.!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>78</locationX>
        <locationY>101</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountBalancing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountConsumable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountMounting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ListOfConsumableSAlesOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>WheelBalancingVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>WheelMountingVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
</Flow>
