flows/Create_Sales_Order_through_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Line_Item_Value</name>
        <label>Assign Line Item Value</label>
        <locationX>2338</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>SalesorderLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Line_Item_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Sales_Order_Line_0</name>
        <label>Assign Value to Sales Order Line</label>
        <locationX>1722</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Line_Item_Record.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Line_Item_Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sales_Order_by_Button</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FETUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Line_Item_Record.Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Item_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Sales_Order_Line_0_0</name>
        <label>Assign Value to Sales Order Line</label>
        <locationX>2954</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Line_Item_Record.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Line_Item_Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sales_Order_by_Button</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FETUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Line_Item_Record.Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Item_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Sales_Order_Line_0_0_0</name>
        <label>Assign Value to Sales Order Line</label>
        <locationX>2382</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Line_Item_Record.Product2.Product_Master__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sales_Order_by_Button</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.AcctSeedERP__Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetUnitPriceCurrency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderLine.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Line_Item_Record.Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Item_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_of_2_value</name>
        <label>set of 2 value</label>
        <locationX>1986</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>SetForUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Value_to_Sales_Order_Line_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_of_4_value_0</name>
        <label>set of 4 value</label>
        <locationX>2250</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>SetForUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Value_to_Sales_Order_Line_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_of_8_value_0_0</name>
        <label>set of 8 value</label>
        <locationX>2514</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>SetForUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Value_to_Sales_Order_Line_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Set</name>
        <label>Check for Set</label>
        <locationX>2382</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_to_Sales_Order_Line_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Of_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Line_Item_Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_of_2_value</targetReference>
            </connector>
            <label>Set Of 2</label>
        </rules>
        <rules>
            <name>Set_Of_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Line_Item_Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_of_4_value_0</targetReference>
            </connector>
            <label>Set Of 4</label>
        </rules>
        <rules>
            <name>Set_Of_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Line_Item_Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_of_8_value_0_0</targetReference>
            </connector>
            <label>Set Of 8</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Order</name>
        <label>Check Sales Order</label>
        <locationX>908</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Opp_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_SalesOrder</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_SalesOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SalesOrder.AcctSeedERP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SalesOrder.AcctSeedERP__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Msg_Screen</targetReference>
            </connector>
            <label>Is SalesOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Whether_Opportunity_Closed_Won</name>
        <label>Check Whether Opportunity Closed Won</label>
        <locationX>1766</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Display_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp_Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sales_Order_by_Button</targetReference>
            </connector>
            <label>Is Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_FET_Condition</name>
        <label>Set FET Condition</label>
        <locationX>2338</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_to_Sales_Order_Line_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FET_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Line_Item_Record.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_to_Sales_Order_Line_0</targetReference>
            </connector>
            <label>FET Value</label>
        </rules>
        <rules>
            <name>Set_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Line_Item_Record.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Set</targetReference>
            </connector>
            <label>Set Value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FETUnitPrice</name>
        <dataType>Number</dataType>
        <expression>{!Loop_for_Line_Item_Record.TotalPrice}/{!Loop_for_Line_Item_Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FindQty</name>
        <dataType>Number</dataType>
        <expression>{!Loop_for_Line_Item_Record.Quantity}*{!SetForUnitPrice}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SetUnitPrice</name>
        <dataType>Number</dataType>
        <expression>{!Loop_for_Line_Item_Record.TotalPrice}/({!Loop_for_Line_Item_Record.Quantity}*{!SetForUnitPrice})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SetUnitPriceCurrency</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_for_Line_Item_Record.TotalPrice}/({!Loop_for_Line_Item_Record.Quantity}*{!SetForUnitPrice})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Sales Order through Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sales Order through Button</label>
    <loops>
        <name>Loop_for_Line_Item_Record</name>
        <label>Loop for Line Item Record</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Line_Item_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_FET_Condition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Sales_Order_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sales_Order_by_Button</name>
        <label>Create Sales Order by Button</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Line_Item_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctSeedERP__Billing_City__c</field>
            <value>
                <elementReference>Get_Opp_Record.Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_Country__c</field>
            <value>
                <elementReference>Get_Opp_Record.Contact__r.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_PostalCode__c</field>
            <value>
                <elementReference>Get_Opp_Record.Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_State__c</field>
            <value>
                <elementReference>Get_Opp_Record.Contact__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Billing_Street__c</field>
            <value>
                <elementReference>Get_Opp_Record.Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Customer__c</field>
            <value>
                <elementReference>Get_Opp_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_City__c</field>
            <value>
                <elementReference>Get_Opp_Record.Ship_to_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Country__c</field>
            <value>
                <elementReference>Get_Opp_Record.Ship_to_Contact__r.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_PostalCode__c</field>
            <value>
                <elementReference>Get_Opp_Record.Ship_to_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_State__c</field>
            <value>
                <elementReference>Get_Opp_Record.Ship_to_Contact__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AcctSeedERP__Shipping_Street__c</field>
            <value>
                <elementReference>Get_Opp_Record.Ship_to_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Adddress__c</field>
            <value>
                <elementReference>Get_Opp_Record.Bill_to_Adddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Type__c</field>
            <value>
                <elementReference>Get_Opp_Record.Delivery_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_charges__c</field>
            <value>
                <elementReference>Get_Opp_Record.Freight_charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lift_Gate_Charges__c</field>
            <value>
                <elementReference>Get_Opp_Record.Lift_Gate_Charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Charges__c</field>
            <value>
                <elementReference>Get_Opp_Record.Other_Charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_Opp_Record.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_From_Address__c</field>
            <value>
                <elementReference>Get_Opp_Record.Ship_From_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Address__c</field>
            <value>
                <elementReference>Get_Opp_Record.Ship_to_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_With_All_Charges__c</field>
            <value>
                <elementReference>Get_Opp_Record.Total_With_All_Charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse_Location__c</field>
            <value>
                <elementReference>Get_Opp_Record.Warehouse_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>AcctSeedERP__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Order_Records</name>
        <label>Create Sales Order Records</label>
        <locationX>1634</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputReference>SalesorderLineList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Line_Item_Record</name>
        <label>Get Line Item Record</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Line_Item_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Record</name>
        <label>Get Opp Record</label>
        <locationX>1766</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Whether_Opportunity_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SalesOrder</name>
        <label>Get SalesOrder</label>
        <locationX>908</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcctSeedERP__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Screen</name>
        <label>Display_Screen</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(247, 16, 16);&quot;&gt;First Opportunity is Closed Won Then Create Sales Order......&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Msg_Screen</name>
        <label>Error Msg Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(237, 10, 54);&quot;&gt;Sales Order Already present for this Opportunity....&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1634</locationX>
        <locationY>2006</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successful_Screen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(43, 8, 240);&quot;&gt;Sales Order Updated Successfully..!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SalesOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>SalesorderLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>SetForUnitPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
