flows/Deallocate_from_Sales_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>SelectedRecords</name>
        <collectionReference>datatable_0.outputSelectedRows</collectionReference>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>AcctSeedERP__Sales_Order_Inventory_Movement__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Deallocate from Sales Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deallocate from Sales Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Records</name>
        <label>Delete Records</label>
        <locationX>902</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>SucessMessage</targetReference>
        </connector>
        <inputReference>datatable_0.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Sales_Order_Inventory_Movement</name>
        <label>Sales Order Inventory Movement</label>
        <locationX>369</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InventoryMovement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Order_RecordID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AcctSeedERP__Sales_Order_Inventory_Movement__c</object>
        <outputReference>SalesorderInventoryMoment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AcctSeedERP__Sales_Order__c</queriedFields>
        <queriedFields>AcctSeedERP__Sales_Order_Line__c</queriedFields>
        <queriedFields>AcctSeedERP__Quantity__c</queriedFields>
        <queriedFields>AcctSeedERP__Inventory_Balance__c</queriedFields>
        <queriedFields>Inventory_Quantity_Available_Name__c</queriedFields>
        <queriedFields>AcctSeedERP__Product__c</queriedFields>
        <queriedFields>Unit_Price__c</queriedFields>
    </recordLookups>
    <screens>
        <name>InventoryMovement</name>
        <label>SalesOrderInventoryMovement</label>
        <locationX>619</locationX>
        <locationY>418</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Records</targetReference>
        </connector>
        <fields>
            <name>datatable_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AcctSeedERP__Sales_Order_Inventory_Movement__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>AcctSeedERP__Sales_Order_Inventory_Movement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>AcctSeedERP__Sales_Order__c,AcctSeedERP__Product__c,Inventory_Quantity_Available_Name__c,Name,AcctSeedERP__Quantity__c,Unit_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>AcctSeedERP__Sales_Order__c:150, AcctSeedERP__Product__c:50, Inventory_Quantity_Available_Name__c:460, Name:225, AcctSeedERP__Quantity__c:200, Unit_Price__c:50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SalesorderInventoryMoment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Sales Order Inventory Movements</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Deallocate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SucessMessage</name>
        <label>SucessMessage</label>
        <locationX>1037</locationX>
        <locationY>291</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Sucess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;The records are deallocated successful.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>197</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Sales_Order_Inventory_Movement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllDataSalesorderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>AllSalesOrderLineitems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>Assigninglineitems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesorderInventoryMoment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AcctSeedERP__Sales_Order_Inventory_Movement__c</objectType>
    </variables>
</Flow>
