flows/Delete_Account_Attachments_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>checkforcontentdoctitle</name>
        <label>checkforcontentdoctitle</label>
        <locationX>524</locationX>
        <locationY>177</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>documentisEIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookforAtchmnt.ContentDocument.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EIN Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EIN_Update</targetReference>
            </connector>
            <label>documentisEIN</label>
        </rules>
        <rules>
            <name>documentisW9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookforAtchmnt.ContentDocument.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>W9 Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>W9_Update</targetReference>
            </connector>
            <label>documentisW9</label>
        </rules>
        <rules>
            <name>documentisReseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookforAtchmnt.ContentDocument.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reseller_Update</targetReference>
            </connector>
            <label>documentisReseller</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>432</locationX>
        <locationY>285</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkforlinkedentityid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookforAtchmnt.LinkedEntityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkforcontentdoctitle</targetReference>
            </connector>
            <label>Checkforlinkedentityid</label>
        </rules>
        <rules>
            <name>Checkforlinkedentityid1</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>LookforAtchmnt.LinkedEntityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deletecontentdocument</targetReference>
            </connector>
            <label>Checkforlinkedentityid1</label>
        </rules>
    </decisions>
    <interviewLabel>Delete Account Attachments Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Account Attachments Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>deletecontentdocument</name>
        <label>deletecontentdocument</label>
        <locationX>380</locationX>
        <locationY>428</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordLookups>
        <description>Get Document</description>
        <name>LookforAtchmnt</name>
        <label>LookforAtchmnt</label>
        <locationX>159</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>EIN_Update</name>
        <label>EIN Update</label>
        <locationX>835</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>deletecontentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookforAtchmnt.LinkedEntityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EIN_Number__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reseller_Update</name>
        <label>Reseller Update</label>
        <locationX>742</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>deletecontentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookforAtchmnt.LinkedEntityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reseller_Certificate__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>W9_Update</name>
        <label>W9 Update</label>
        <locationX>742</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>deletecontentdocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookforAtchmnt.LinkedEntityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>W9_Form__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Delete_File</name>
        <label>Delete File?</label>
        <locationX>171</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>LookforAtchmnt</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Deleting a file also removes it from any records or posts it&apos;s attached to.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Delete_File</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
