flows/Expiration_date_update_on_quote_when_record_is_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CREATEDPLUS15</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} +15</expression>
    </formulas>
    <formulas>
        <name>CREATEDPLUS30</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate}+30</expression>
    </formulas>
    <formulas>
        <name>CREATEDPLUS45</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} +45</expression>
    </formulas>
    <formulas>
        <name>CREATEDPLUS7</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>Today()+15</expression>
    </formulas>
    <interviewLabel>Expiration date update on quote when record is created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expiration date update on quote when record is created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Expiration_date_update</name>
        <label>Expiration date update FOR 7 DAYS</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Expiration_Date_Update_for_15_Days</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Valid_Untill__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7Days</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>CREATEDPLUS7</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Expiration_Date_Update_for_15_Days</name>
        <label>Expiration Date Update for 15 Days</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Expiration_date_update_for_30_days</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Valid_Untill__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>15Days</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>CREATEDPLUS15</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Expiration_date_update_for_30_days</name>
        <label>Expiration date update for 30 days</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>EXPIRATION_DATE_UPDATE_FOR_45_DAYS</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Valid_Untill__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>30 Days</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>CREATEDPLUS30</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EXPIRATION_DATE_UPDATE_FOR_45_DAYS</name>
        <label>EXPIRATION DATE UPDATE FOR 45 DAYS</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Valid_Untill__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>45 Days</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>CREATEDPLUS45</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Expiration_date_update</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
