flows/FET_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Addtovariable</name>
        <label>Addtovariable</label>
        <locationX>686</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Recordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FET_Opportunity_Product_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Base_value_0_0</name>
        <label>Assign Base value</label>
        <locationX>1281</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_of_set_4_0_0</name>
        <label>Assign of set 4</label>
        <locationX>1125</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_set_of_2_values_0_0</name>
        <label>Assign set of 2 values</label>
        <locationX>810</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_8_0_0</name>
        <label>Assignment of 8</label>
        <locationX>938</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoNewVariable_0</name>
        <label>AssigntoNewVariable</label>
        <locationX>1013</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product.FET_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alllineitemsloop_0.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alllineitemsloop_0.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addtovariable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_set_Product_0_0</name>
        <label>Check set Product</label>
        <locationX>995</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>set_of_2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FETRecordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_set_of_2_values_0_0</targetReference>
            </connector>
            <label>set of 2</label>
        </rules>
        <rules>
            <name>Set_Of_4_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FETRecordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_of_set_4_0_0</targetReference>
            </connector>
            <label>Set Of 4</label>
        </rules>
        <rules>
            <name>Set_of_8_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FETRecordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_8_0_0</targetReference>
            </connector>
            <label>Set of 8</label>
        </rules>
        <rules>
            <name>Base_product_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FETRecordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Base_value_0_0</targetReference>
            </connector>
            <label>Base product</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculateQty</name>
        <dataType>Number</dataType>
        <expression>{!SetValue}*1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FETRecordName</name>
        <dataType>String</dataType>
        <expression>&quot;FET- &quot;</expression>
    </formulas>
    <formulas>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <expression>100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FET from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FET from Opportunity</label>
    <loops>
        <name>Alllineitemsloop_0</name>
        <label>Alllineitemsloop</label>
        <locationX>522</locationX>
        <locationY>38</locationY>
        <collectionReference>RelatedOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RelatedProducts</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FET_Opportunity_Product_0_0</name>
        <label>Create FET Opportunity Product</label>
        <locationX>677</locationX>
        <locationY>209</locationY>
        <inputReference>Recordcollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AllPurchaseProducts_0</name>
        <label>AllPurchaseProducts</label>
        <locationX>503</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alllineitemsloop_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunityids.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>FETRecordName</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>RelatedOpportunityLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>FETProductid__c</queriedFields>
        <queriedFields>FETProductName__c</queriedFields>
        <queriedFields>Salesprice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>opportunity</name>
        <label>opportunity</label>
        <locationX>278</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllPurchaseProducts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>No_of_Products__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.No_of_Products__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>No_of_Products__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record__Prior.No_of_Products__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunityids</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RelatedProducts</name>
        <label>RelatedProducts</label>
        <locationX>723</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_set_Product_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alllineitemsloop_0.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FETProductid__c</queriedFields>
        <queriedFields>FET_Product__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>141</locationX>
        <locationY>8</locationY>
        <connector>
            <targetReference>opportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>No_of_Products__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1min</name>
            <label>1min</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FETProductDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunityids</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Recordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>RelatedOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SetValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
