flows/FET_button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Addtovariable</name>
        <label>Addtovariable</label>
        <locationX>608</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>Recordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alllineitemsloop_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Base_value_0_0</name>
        <label>Assign Base value</label>
        <locationX>1321</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_of_set_4_0_0</name>
        <label>Assign of set 4</label>
        <locationX>1162</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_set_of_2_values_0_0</name>
        <label>Assign set of 2 values</label>
        <locationX>873</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_8_0_0</name>
        <label>Assignment of 8</label>
        <locationX>1011</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoNewVariable_0</name>
        <label>AssigntoNewVariable</label>
        <locationX>1030</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alllineitemsloop_0.Product2.FET_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateQty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alllineitemsloop_0.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addtovariable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_set_Product_0_0</name>
        <label>Check set Product</label>
        <locationX>979</locationX>
        <locationY>164</locationY>
        <defaultConnector>
            <targetReference>Create_FET_Opportunity_Product_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>set_of_2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FETRecordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_set_of_2_values_0_0</targetReference>
            </connector>
            <label>set of 2</label>
        </rules>
        <rules>
            <name>Set_Of_4_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FETRecordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_of_set_4_0_0</targetReference>
            </connector>
            <label>Set Of 4</label>
        </rules>
        <rules>
            <name>Set_of_8_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FETRecordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_8_0_0</targetReference>
            </connector>
            <label>Set of 8</label>
        </rules>
        <rules>
            <name>Base_product_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alllineitemsloop_0.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>FETRecordName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Base_value_0_0</targetReference>
            </connector>
            <label>Base product</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculateQty</name>
        <dataType>Number</dataType>
        <expression>{!Alllineitemsloop_0.Quantity}*{!SetValue}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FETRecordName</name>
        <dataType>String</dataType>
        <expression>&quot;FET- &quot;</expression>
    </formulas>
    <formulas>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <expression>100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FET button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FET button</label>
    <loops>
        <name>Alllineitemsloop_0</name>
        <label>Alllineitemsloop</label>
        <locationX>632</locationX>
        <locationY>206</locationY>
        <collectionReference>RelatedOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_set_Product_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_FET_Opportunity_Product_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FET_Opportunity_Product_0_0</name>
        <label>Create FET Opportunity Product</label>
        <locationX>660</locationX>
        <locationY>28</locationY>
        <inputReference>Recordcollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AllPurchaseProducts_0</name>
        <label>AllPurchaseProducts</label>
        <locationX>480</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alllineitemsloop_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppid</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>RelatedOpportunityLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>FETProductid__c</queriedFields>
        <queriedFields>FETProductName__c</queriedFields>
        <queriedFields>Salesprice__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>255</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>AllPurchaseProducts_0</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>FETProductDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>oppid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Recordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>RelatedOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SetValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
