flows/FET_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Addtovariable</name>
        <label>Addtovariable</label>
        <locationX>1787</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>Recordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alllineitemsloop_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Base_value_0_0</name>
        <label>Assign Base value</label>
        <locationX>1303</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FETCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_of_set_4_0_0</name>
        <label>Assign of set 4</label>
        <locationX>1111</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FETCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_set_of_2_values_0_0</name>
        <label>Assign set of 2 values</label>
        <locationX>831</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FETCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_8_0_0</name>
        <label>Assignment of 8</label>
        <locationX>979</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>SetValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FETCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoNewVariable_0</name>
        <label>AssigntoNewVariable</label>
        <locationX>1754</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedOpportunity_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alllineitemsloop_0.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alllineitemsloop_0.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alllineitemsloop_0.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alllineitemsloop_0.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItems.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alllineitemsloop_0.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addtovariable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_set_Product_0_0</name>
        <label>Check set Product</label>
        <locationX>1043</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>set_of_2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_set_of_2_values_0_0</targetReference>
            </connector>
            <label>set of 2</label>
        </rules>
        <rules>
            <name>Set_Of_4_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_of_set_4_0_0</targetReference>
            </connector>
            <label>Set Of 4</label>
        </rules>
        <rules>
            <name>Set_of_8_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Set of 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_8_0_0</targetReference>
            </connector>
            <label>Set of 8</label>
        </rules>
        <rules>
            <name>Base_product_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Base_value_0_0</targetReference>
            </connector>
            <label>Base product</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalculateQty</name>
        <dataType>Number</dataType>
        <expression>{!SetValue}*{!$Record.Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>&quot;FET- &quot;</expression>
    </formulas>
    <formulas>
        <name>TotalPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Product2.Price__c}*{!CalculateQty}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FET Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FET Creation</label>
    <loops>
        <name>Alllineitemsloop_0</name>
        <label>Alllineitemsloop</label>
        <locationX>1522</locationX>
        <locationY>343</locationY>
        <collectionReference>RelatedOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssigntoNewVariable_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_FET_Opportunity_Product_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FET_Opportunity_Product_0_0</name>
        <label>Create FET Opportunity Product</label>
        <locationX>1568</locationX>
        <locationY>523</locationY>
        <inputReference>RelatedOpportunityLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>FETCreate</name>
        <label>FETCreate</label>
        <locationX>1044</locationX>
        <locationY>668</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>$Record.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>FPTProducts.FET_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>CalculateQty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <elementReference>TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>FPTProducts.Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>AllPurchaseProducts_0</name>
        <label>AllPurchaseProducts</label>
        <locationX>1708</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RelatedOpportunity_0.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>RelatedOpportunityLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FPTProducts</name>
        <label>FPTProducts</label>
        <locationX>875</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_set_Product_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RelatedOpportunity_0</name>
        <label>RelatedOpportunity</label>
        <locationX>704</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FPTProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>267</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>RelatedOpportunity_0</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1min</name>
            <label>1min</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Recordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>RelatedOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SetValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
