flows/FETRateon_QLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Null_FET_Rate</name>
        <label>Check Null FET Rate</label>
        <locationX>446</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Update_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NULL_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFETRate.FET_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NULL Rate</label>
        </rules>
    </decisions>
    <formulas>
        <name>UnitPriceWithFETRate</name>
        <dataType>Currency</dataType>
        <expression>{!getFETRate.FET_Rate__c}+{!$Record.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FETRateon QLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FETRateon QLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getFETRate</name>
        <label>getFETRate</label>
        <locationX>208</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Null_FET_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Price</name>
        <label>Update Price</label>
        <locationX>656</locationX>
        <locationY>228</locationY>
        <inputAssignments>
            <field>Selling_Price__c</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>UnitPriceWithFETRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getFETRate</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
