flows/NEW_TASK_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Exclude_SMS_Click_Value_If_Exists</name>
        <label>Exclude SMS Click Value If Exists</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Object_Record.SMS_Click__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExcludeSMSClickMultiselectpicklistValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Record_SMS_Template_Assignment</name>
        <label>Lead Record SMS Template Assignment</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Object_Record.SMS_Sent__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>SMSTemplateName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SMS_Template_Check</name>
        <label>SMS Template Check</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Lead_Record_SMS_Template_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SMS_Click_Contains_SMS_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Object_Record.SMS_Click__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SMSTemplateName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclude_SMS_Click_Value_If_Exists</targetReference>
            </connector>
            <label>Check SMS Click Contains SMS Template</label>
        </rules>
        <rules>
            <name>Check_Contains_SMS_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Object_Record.SMS_Sent__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SMSTemplateName</elementReference>
                </rightValue>
            </conditions>
            <label>Check Contains SMS Template</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExcludeSMSClickMultiselectpicklistValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!vSMSClick}, &apos;TASK TESTING FLOW;&apos;, null), &apos;TASK TESTING FLOW&apos;, null)</expression>
    </formulas>
    <interviewLabel>NEW TASK FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NEW TASK FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SEND_SMS</name>
        <label>SEND SMS</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Scheduled_SMS_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Document_Id__c</field>
            <value>
                <stringValue>0159B000000HCbtQAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a2v9B000000001iQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>14588888800</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Object_Record</name>
        <label>Get Lead Object Record</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SMS_Template_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_SMS_Record</name>
        <label>Get Scheduled SMS Record</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Object_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Lead_Object_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Lead_Object_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SEND_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TASK TESTING FLOW</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00Q</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SMSTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>TASK TESTING FLOW</stringValue>
        </value>
    </variables>
    <variables>
        <name>vSMSClick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Lead_Object_Record.SMS_Click__c</elementReference>
        </value>
    </variables>
</Flow>
