flows/Pardot_MMS_Journey_Trigger_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>tdvt</name>
        <label>tdvt</label>
        <locationX>1095</locationX>
        <locationY>304</locationY>
        <actionName>tdc_tvte__GlobalPhoneVerifierPB</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>phoneApi</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>tdc_tvte__GlobalPhoneVerifierPB</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_task_subject</name>
        <label>Check task subject</label>
        <locationX>675</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Itext_Journey_SMS_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Send First MMS to Initiate Itext Journey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead</targetReference>
            </connector>
            <label>Itext Journey SMS Task</label>
        </rules>
        <rules>
            <name>Pardot_Landing_Page_Form_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Submitted Pardot Form On Landing Page.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEND_SMS_0</targetReference>
            </connector>
            <label>Pardot Landing Page Form Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pardot MMS Journey Trigger SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pardot MMS Journey Trigger SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SEND_SMS</name>
        <label>SEND SMS</label>
        <locationX>876</locationX>
        <locationY>585</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Question__c</field>
            <value>
                <stringValue>a309B0000000am6QAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>14588888800</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SEND_SMS_0</name>
        <label>SEND SMS</label>
        <locationX>565</locationX>
        <locationY>525</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Phone_Api__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Related_Object_Id__c</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__SMS_Template__c</field>
            <value>
                <stringValue>a2v9B0000000079QAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tdc_tsw__Sender_Number__c</field>
            <value>
                <stringValue>14588888800</stringValue>
            </value>
        </inputAssignments>
        <object>tdc_tsw__Scheduled_Sms__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>834</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>tdvt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_task_subject</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 )</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00Q</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Submitted Pardot Form On Landing Page.</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Send First MMS to Initiate Itext Journey</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SMSTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pardot - MMS Journey</stringValue>
        </value>
    </variables>
</Flow>
