flows/Populate_delivery_type_and_its_related_records_from_sales_order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Populate delivery type and its related records from sales order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate delivery type and its related records from sales order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sales_order</name>
        <label>Get Sales order</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Address_and_warehouse_location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AcctSeedERP__Sales_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AcctSeedERP__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Address_and_warehouse_location</name>
        <label>Update Address and warehouse location</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Delivery_Type__c</field>
            <value>
                <elementReference>Get_Sales_order.Delivery_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_From_Address__c</field>
            <value>
                <elementReference>Get_Sales_order.Ship_From_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Address__c</field>
            <value>
                <elementReference>Get_Sales_order.Ship_to_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warehouse_Location__c</field>
            <value>
                <elementReference>Get_Sales_order.Warehouse_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_order</targetReference>
        </connector>
        <object>AcctSeed__Billing__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
