flows/Quote_Revision_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Variable</name>
        <label>Add Variable</label>
        <locationX>600</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>NewQuotelineitemlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DemoQuoteRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Line_1_by_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_All_Quote_Line_Item_in_1_Variable</name>
        <label>Store All Quote Line Item in 1 Variable</label>
        <locationX>777</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>DemoQuoteRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_1_by_1.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DemoQuoteRecord.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_1_by_1.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DemoQuoteRecord.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DemoQuoteRecord.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_1_by_1.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DemoQuoteRecord.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_1_by_1.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DemoQuoteRecord.LineNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_1_by_1.LineNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DemoQuoteRecord.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_1_by_1.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DemoQuoteRecord.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_1_by_1.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DemoQuoteRecord.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_1_by_1.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Variable</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>RevisionNumberPicklist1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Revision_Number__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Quote Revision flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Revision flow</label>
    <loops>
        <name>Get_Quote_Line_1_by_1</name>
        <label>Get Quote Line 1 by 1</label>
        <locationX>1006</locationX>
        <locationY>331</locationY>
        <collectionReference>QuotelineCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_All_Quote_Line_Item_in_1_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_line_Items</name>
        <label>Create Quote line Items</label>
        <locationX>1002</locationX>
        <locationY>493</locationY>
        <inputReference>NewQuotelineitemlist</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Records</name>
        <label>Create Quote Records</label>
        <locationX>800</locationX>
        <locationY>104</locationY>
        <assignRecordIdToReference>NewQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>QuoteRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>QuoteRecord.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>QuoteRecord.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>QuoteRecord.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>QuoteRecord.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>QuoteRecord.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteToName</field>
            <value>
                <elementReference>QuoteRecord.QuoteToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revision_Number__c</field>
            <value>
                <elementReference>Revision_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingHandling</field>
            <value>
                <elementReference>QuoteRecord.ShippingHandling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>QuoteRecord.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax</field>
            <value>
                <elementReference>QuoteRecord.Tax</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>975</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_1_by_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>QuotelineCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>LineNumber</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>419</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revision_Quote_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>QuoteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuoteNumber</queriedFields>
        <queriedFields>ExpirationDate</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Tax</queriedFields>
        <queriedFields>Revision_Number__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>GrandTotal</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>QuoteToName</queriedFields>
        <queriedFields>ShippingHandling</queriedFields>
        <queriedFields>Fax</queriedFields>
    </recordLookups>
    <screens>
        <name>Revision_Quote_Flow</name>
        <label>Revision Quote Flow</label>
        <locationX>630</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Quote_Records</targetReference>
        </connector>
        <fields>
            <name>Revision_Number</name>
            <choiceReferences>RevisionNumberPicklist1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Revision Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expiration_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DemoQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>NewQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewQuotelineitemlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuotelineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RevisionNumberPicklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
